In [14]:
#probleem bij productiedata => waarschijnlijk klopt het samenvoegen van de data niet. 1 site krijgt x aantal colommen wat volgens mij niet klopt.
#op een andere manier data samenvoegen ==> Nieuwe maand met zelfde site_id en andere timestamps worden onderaan toegevoegd.
#het ziet er naar uit dat de json waarop gefilterd wordt wel klopt.
#het ziet er ook naar uit dat het komt door de maandelijkse concat aangezien sommige plants 67 verschillende kolommen hebben (evenveel maanden)






import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
path = '../../../xm_API/production/datasets_v2/'

# cogen_2 = 'definitive_production_df_list_cogen_2018_41_67m.csv'
cogen_1 = pd.read_csv('../../../xm_API/production/datasets_v2/definitive_production_df_list_cogen_2018_40m.csv')
cogen_1 = cogen_1.fillna(0)
cogen_1 = cogen_1.set_index('Timestamp')
cogen_2 = pd.read_csv('../../../xm_API/production/datasets_v2/definitive_production_df_list_cogen_2018_41_67m.csv')
cogen_2 = cogen_2.fillna(0)
cogen_2 = cogen_2.set_index('Timestamp')

# hydro_1 = 'definitive_production_df_list_hydro_2018_40m.csv'
# hydro_2 = 'definitive_production_df_list_hydro_2018_41_67m.csv'
# hydro_1 = pd.read_csv(path+hydro_1)
# hydro_1 = hydro_1.fillna(0)
# hydro_2 = pd.read_csv(path+hydro_2)
# hydro_2 = hydro_2.fillna(0)

# solar_1 = 'definitive_production_df_list_solar_2018_40m.csv'
# solar_2 = 'definitive_production_df_list_solar_2018_41_67m.csv'
# solar_1 = pd.read_csv(path+solar_1)
# solar_1 = solar_1.fillna(0)
# solar_2 = pd.read_csv(path+solar_2)
# solar_2 = solar_2.fillna(0)

# thermal_1 = 'definitive_production_df_list_thermal_2018_40m.csv'
# thermal_2 = 'definitive_production_df_list_thermal_2018_41_67m.csv'
# thermal_1 = pd.read_csv(path+thermal_1)
# thermal_1 = thermal_1.fillna(0)
# thermal_2 = pd.read_csv(path+thermal_2)
# thermal_2 = thermal_2.fillna(0)

# wind_1 = 'definitive_production_df_list_wind_2018_40m.csv'
# wind_2 = 'definitive_production_df_list_wind_2018_41_67m.csv'
# wind_1 = pd.read_csv(path+wind_1)
# wind_1 = wind_1.fillna(0)
# wind_2 = pd.read_csv(path+wind_2)
# wind_2 = wind_2.fillna(0)









# cogen = pd.concat([cogen_1, cogen_2], axis = 0)
cogen = pd.merge(cogen_1, cogen_2, left_index=True, right_index=True, how='outer')
# hydro = pd.concat([hydro_1, hydro_2], axis = 0)
# solar = pd.concat([solar_1, solar_2], axis = 0)
# thermal = pd.concat([thermal_1, thermal_2], axis = 0)
# wind = pd.concat([wind_1, wind_2], axis = 0)
cogen

,2SXQ_x_x,PNC1_x_x,PPN1_x_x,CGM1_x_x,CIP1_x_x,CIS1_x_x,IRG1_x_x,PIC1_x_x,ILC1_x_x,MAN1_x,...,RPL1,2UP2,PPN1,2SXQ,INC1,PNC1,CIP1_y.12_y,3AL8_y.12,CAS1_y.12_y,Total[kW]_y
Timestamp,,,,,,,,,,,,,,,,,,,,,
2018-01-01 01:00:00,11229.39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-01 02:00:00,16010.01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-01 03:00:00,12868.47,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-01 04:00:00,12610.87,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-01 05:00:00,18727.49,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-31 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14299.2,3704.4,0.0,0.0,36394.85,14688.0,12432.0,0.0,460.8,221302.46
2023-07-31 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13929.6,5137.2,0.0,0.0,33953.67,15084.0,13120.0,0.0,594.9,222084.70
2023-07-31 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16776.0,6462.0,0.0,0.0,37470.50,14652.0,13632.0,0.0,549.9,233255.86
2023-07-31 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16732.8,6537.6,0.0,0.0,33758.67,15516.0,13496.0,0.0,683.1,231058.00
2023-07-31 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16118.4,7160.4,0.0,0.0,34455.78,14364.0,13944.0,0.0,306.0,232012.48

In [15]:
print(cogen.columns)
#print how many times 2SXQ_x is in cogen.columns
for i in cogen.columns:
    #find amount of columnnames that include i in the name
    count = cogen.columns.str.contains(i).sum()
    if count >1:
        print(i, "     ", count)

Index(['2SXQ_x_x', 'PNC1_x_x', 'PPN1_x_x', 'CGM1_x_x', 'CIP1_x_x', 'CIS1_x_x',
       'IRG1_x_x', 'PIC1_x_x', 'ILC1_x_x', 'MAN1_x',
       ...
       'RPL1', '2UP2', 'PPN1', '2SXQ', 'INC1', 'PNC1', 'CIP1_y.12_y',
       '3AL8_y.12', 'CAS1_y.12_y', 'Total[kW]_y'],
      dtype='object', length=1017)
MAN1_x       20
CTMO_x       20
CLTJ_x       20
MAN1_y       20
CTMO_y       20
CLTJ_y       20
MAN1_x.1       11
CTMO_x.1       11
CLTJ_x.1       11
MAN1_y.1       11
CTMO_y.1       11
CLTJ_y.1       11
CGM1       67
CIS1       67
ILC1       67
IRG1       67
PIC1       67
RPL1       67
2UP2       63
PPN1       67
2SXQ       67
INC1       67
PNC1       67

In [16]:
#show dataframe with columnnames containing PNC1
df_test = cogen.filter(regex='PNC1')
df_test

,PNC1_x_x,PNC1_y_x,PNC1_x.1_x,PNC1_y.1_x,PNC1_x.2_x,PNC1_y.2_x,PNC1_x.3_x,PNC1_y.3_x,PNC1_x.4_x,PNC1_y.4_x,...,PNC1_y.8_y,PNC1_x.9_y,PNC1_y.9_y,PNC1_x.10_y,PNC1_y.10_y,PNC1_x.11_y,PNC1_y.11_y,PNC1_x.12_y,PNC1_y.12_y,PNC1
Timestamp,,,,,,,,,,,,,,,,,,,,,
2018-01-01 01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-01 02:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-01 03:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-01 04:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-01 05:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-31 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14688.0
2023-07-31 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15084.0
2023-07-31 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14652.0
2023-07-31 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15516.0
2023-07-31 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14364.0